<div
  class="flex justify-self-center justify-center w-5/6 flex-row h-[32rem] border-1 border-amber-600"
>
  <div class="flex w-2/4 border-1 border-blue-500">
    <img
      src="https://m.media-amazon.com/images/I/41bsdF9lMPL._AC_SX679_.jpg"
      alt=""
    />
  </div>

  <div class="flex flex-col w-2/4 border-1 border-green-500">
    <h1 class="text-2xl">Console PlayStation 5</h1>

    

    <h2 class="text-[20px] font-bold">Sobre este item</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu maximus
      justo, et gravida sapien. Etiam maximus sollicitudin neque sit amet
      molestie. Donec diam nibh, luctus vitae tortor in, lobortis pellentesque
      est. Vestibulum sed vehicula leo. Fusce aliquet mauris at porttitor
      porttitor. Praesent in aliquet ante. Sed justo dolor, consequat ac sapien
      sollicitudin, tincidunt ullamcorper velit. Donec et pretium turpis. Fusce
      lectus libero, tincidunt ut nibh eu, tincidunt sodales velit. Nunc
      vestibulum augue sit amet pharetra suscipit.
    </p>
  </div>

  <div class="flex flex-col w-2/6 border-1 border-red-500 p-5">
    <div class="flex items-start">
      <span class="text-[13px] translate-y-[7px] inline-block">R$ </span>
      <span class="text-[40px]">3.999</span>
      <span class="text-[13px] translate-y-[7px] inline-block">90</span>
    </div>

    <h2 class="text-emerald-700 font-semibold pb-2 pt-2">Em estoque</h2>

    <select
      class="flex items-center justify-center rounded bg-gray-200 hover:bg-gray-300 pl-2 p-2"
    >
      <option value="volvo">Quantidade: 1</option>
      <option value="saab">Quantidade: 2</option>
      <option value="mercedes">Quantidade: 3</option>
      <option value="audi">Quantidade: 4</option>
    </select>

    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded h-6"
    >
      add to cart
    </button>
  </div>
</div>
