<div
  class="flex justify-self-center justify-center w-4/6 flex-row h-[32rem] mt-7"
>
  <div class="flex justify-center w-2/4">
    <img
      src="https://m.media-amazon.com/images/I/41bsdF9lMPL._AC_SX679_.jpg"
      alt=""
    />
  </div>

  <div class="flex flex-col w-2/4  ">
    <h1 class="text-2xl">Console PlayStation 5</h1>
    <hr>

    <h2 class="text-[20px] font-bold">Sobre este item</h2>
    <ul class="list-disc pl-5">
      <li class="break-words">
        Domine o poder de uma CPU e GPU personalizadas e o SSD com E/S
        integradas que redefinem as regras do que o console PlayStation pode
        fazer
      </li>
      <li class="break-words">
        SSD ultrarrápido: Maximize suas sessões de jogo com tempos de
        carregamento praticamente instantâneos para jogos do PS5 instalados
      </li>
      <li class="break-words">
        Maravilhe-se com os gráficos incríveis e experimente os recursos do novo
        PS5
      </li>
      <li class="break-words">Versão com leitor de BluRay</li>
    </ul>
  </div>

  <div class="flex flex-col w-1/5  border rounded-2xl p-5 ml-4">
    <div class="flex items-start">
      <span class="text-[13px] translate-y-[7px] inline-block">R$ </span>
      <span class="text-[40px]">3.999</span>
      <span class="text-[13px] translate-y-[7px] inline-block">90</span>
    </div>

    <h2 class="text-emerald-700 font-semibold pb-2 pt-2">Em estoque</h2>

    <select
      class="flex items-center justify-center rounded bg-gray-200 hover:bg-gray-300 pl-2 p-2"
    >
      <option value="volvo">Quantidade: 1</option>
      <option value="saab">Quantidade: 2</option>
      <option value="mercedes">Quantidade: 3</option>
      <option value="audi">Quantidade: 4</option>
    </select>

    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded h-6"
    >
      add to cart
    </button>
  </div>
</div>
